<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="StaffRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<file value="Logs\" />
			<datePattern value="'MattMIS Staff Sync - 'dd.MM.yyyy'.log'" />
			<staticLogFileName value="false" />
			<appendToFile value="false" />
			<rollingStyle value="Composite" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="5MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger  - %message%newline" />
			</layout>
		</appender>
		<appender name="StudentRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<file value="Logs\" />
			<datePattern value="'MattMIS Student Sync - 'dd.MM.yyyy'.log'" />
			<staticLogFileName value="false" />
			<appendToFile value="false" />
			<rollingStyle value="Composite" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="5MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger  - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="StaffRollingLogFileAppender" />
		</root>
		<logger additivity="false" name="StudentRollingLogFileAppender">
			<level value="DEBUG"/>
			<appender-ref ref="StudentRollingLogFileAppender" />
		</logger>
	</log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	
</configuration>

